In [14]:
import csv
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import matplotlib as mpl
import datetime

In [2]:
#https://data.cambridgema.gov/Public-Safety/Tow-Log/aa6j-h24p
df = pd.read_csv('/Users/esilvert/Desktop/parking2/tza/data/Cambridge_Parking_Tickets.csv')
print(len(df))
col_l = ['Meter','Violation Description','Location','Department']
for col in col_l:
    df[col] = df[col].str.strip()
df['Ticket Issue Date'] = pd.to_datetime(df['Ticket Issue Date']).dt.date
print(len(df))
df = df[df['Ticket Issue Date']>=datetime.date(2015,1,1)]
print(len(df))
print(df['Ticket Issue Date'].min(),df['Ticket Issue Date'].max())
# summary = df['Violation Description'].value_counts().reset_index()
# summary.to_csv('ticket_value_counts.csv',index=False)
# print(len(summary))
ticket_categories = pd.read_csv('ticket_value_counts.csv')
print(len(ticket_categories))
print(len(df))
df_merged = df.merge(ticket_categories[['Violation Description','Violation category']], on ='Violation Description', how= 'left')
print(len(df_merged))

2181511

/var/folders/0d/jjh713y94rs8q4jlcqnd2_c00000gr/T/ipykernel_92003/1791887961.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/esilvert/Desktop/parking2/tza/data/Cambridge_Parking_Tickets.csv')

,Ticket Issue Date,Issue Time,Meter,Violation Description,Location,Department
0,09/02/2020,11:21,FUL-0104,O/T TIME,NaN,1
1,09/02/2020,11:37,FUL-0124,METER EXP,NaN,1
2,09/02/2020,12:20,FRST-0102,METER EXP,NaN,1
3,12/12/2018,NaN,NaN,BIKE LANE,NaN,NaN
4,09/02/2020,15:27,FUL-0140,METER EXP,NaN,1

In [12]:
df_merged['Violation category'].value_counts().reset_index() #63913,2181

                    index  Violation category
0                   Meter             1497607
1      No resident permit              221261
2                Overtime              187454
3              No parking               94191
4         Street cleaning               63913
5            Loading zone               47337
6        Handicap/Veteran               12749
7                 Hydrant                7365
8           Double parked                6761
9         Wrong direction                5803
10               Bus stop                5568
11              Bike lane                5513
12              Side walk                5143
13  Obstructing something                4209
14              Crosswalk                2854
15                  Other                2759
16             Taxi stand                2390
17                   Snow                2181
18                Spacing                1641
19              Fire lane                1443
20               Handicap                1345
21          Far from curb                1154
22               No meter                 870